h1 {
    color: red;
}

h2 {
    color:blueviolet;
   }

h3 {
    color: coral;
   }

h5 {
    color: chartreuse;
}

h4 {
    color: deeppink;
}

img {
    display: block;
    border: medium dashed rgb(167, 18, 117);
    padding: 10px;
    width: 450px;
    height: 450px;
    box-sizing: border-box;
    margin: 275px 0px;

}
