.bilder {
    display: flex;
    height: 1500px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border: 10px solid red;

}


.bilder img {
    display: block;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    
}
